{% extends 'base.html' %}
{% load static %}

{% block title %}
    gallery page
{% endblock title %}
    

{% block content %}
<h1>This Is The Gallery Page</h1>
<h3>Godwin Ofwono</h3>
<img src="{% static 'images/ofwono.jpeg' %}" alt="Image" class="image">

<h3>The Logo</h3>
<img src="{% static 'images/logo.png' %}" alt="Image" class="image">

<h3>Rwoth Ofwono</h3>
<img src="{% static 'images/yoo.jpeg' %}" alt="Image" class="image">

<h3>The AI Talk</h3>
<img src="{% static 'images/AI_talk.jpeg' %}" alt="Image" class="image">


{% endblock content %}
    